body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333; 
  }
  
  .navbar option {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .akshay {
    float: left;
    overflow: hidden;
  }
  
  .akshay .akshaybtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar option:hover, .akshay:hover .akshaybtn {
    background-color: darkviolet;
  }
  
  .akshay-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: chocolate;
    width: auto;
    z-index: 1;
  }
  
  .akshay-content option {
    float: left;
    color: black;
    text-decoration: none;
  }
  
  .akshay-content option:hover {
    background-color: deeppink;
    color: black;
  }
  
  .akshay:hover .akshay-content {
    display: block;
  }